<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>

      <li>
        <a href="https://secure-inlet-7727.herokuapp.com/aboutme"><span class="glyphicon glyphicon-grain"></span> About Me</a>
      </li>
	  <li>
        <a href="https://secure-inlet-7727.herokuapp.com/makingsite"><span class="glyphicon glyphicon-grain"></span> About Making This Site</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-list-alt"></span> My Favorite Sites <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
		    <li><a href="http://javascriptissexy.com/understand-javascript-callback-functions-and-use-them/">Call Back Functions in Javascript</a></li>
            <li><a href="http://www.codewars.com">Codewars - Fun Coding!</a></li>
			<li><a href="http://www.theanimalrescuesite.com/clickToGive/ars/home">The Animal Rescue Site</a></li>
            <li class="divider"></li>
			<li><a href="http://aceprogrammers.com/scifiquiz/">My Nerd Personality Quiz</a></li>
			<li><a href="http://octoberdays.pythonanywhere.com/">My Django Based Site - Poems!</a></li>
		    <li class="divider"></li>
		  
            <li><a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs">Start with Node on Heroku</a></li>
            <li><a href="https://devcenter.heroku.com/articles/getting-started-with-php">Start with PHP on Heroku</a></li>
            <li><a href="https://devcenter.heroku.com/articles/getting-started-with-python">Start with Python on Heroku</a></li>
			

          </ul>
      </li>
    </ul>

  </div>
</nav>
