node_modules
.env
extras
Dockerfile
docker-compose.yml
starwars-original-script.js
movies.csv
movies.txt
db.txt
db.sql
db.csv
originaldbconnect.txt
database.js
indexoriginal.js
gruntfile.js
test
public/images
databasemovies.txt