.jumbotron {
  background: #ccccff;
  color: #e3d9f2;
  padding-bottom: 40px; 
  font-size: 16px;
  font-family: verdana;}
  .jumbotron .btn-primary {
    background: #ccccff;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; 
	background-color: #003366;
	color:#e3d9f2;
	}
	.navbar {
	background-color:#FFE81F;
	color:#000000;
	}
 /* .jumbotron .lang-logo {
	color: #ffffff;
    display: block;
    background: #B01302;
    border-radius: 15%;
    overflow: hidden;
	width: 175px;
    height: 100px;
    margin: auto;
	padding: 10px;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; } 
*/
