<!DOCTYPE html>
<html>
<head>

  <title>About Me </title>
  <% include ../partials/header.ejs %>
  <script defer>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-33109920-1', 'auto');
  ga('send', 'pageview');

</script>
</head>

<body>

 <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container" "col-sm-12">
   
    <h1>About Me</h1>
  </div>
</div>
<div class="container" "col-sm-12">

  <div class="row">
    <div class="col-sm-6">
		<h3>About Me</h3>
		<p>I've been building sites since 1998 and enjoy keeping up with the new technologies.  My main focus is on software and web development.  I enjoy reading up on subjects such as GC for JavaScript in the browser, streams, site optimization, web security and animations.  My programming education began with Lisp & Visual Basic, but I currently develop apps in the technologies mentioned in my list below.</p>
		<h3>Current Interests</h3>
		<ul>
			<li>JavaScript</li>
			<li>Node.js - as server for this site & in the build process</li>
			<li>Express</li>
			<li>Three.js, WebGl animations</li>
			<li>PHP, LAMP sites</li>
			<li>Python programming and Django/Flask</li>
			<li>HTML5</li>
			<li>CSS3</li>
			<li>C</li>
			<li>Postgres/MySQL/MongoDB</li>
      </ul>
    </div>
    <div class="col-sm-6">
      <h3>The Animal Rescue Site</h3><br />
      
		 <a href="http://theanimalrescuesite.greatergood.com/clickToGive/ars/home?link=ARS_linktous_300"><img alt="The Animal Rescue Site" src="http://cdn.theanimalrescuesite.com/charityusa_vitalstream_com/ctg/p3/images/content/300x250-ars.jpg?ccv=1452879712481"/></a><br /><br />
      
    </div>
	</div>
	
	
	  <div class="row">
	 <div class="col-sm-6">
		<h3>The Andromeda Galaxy</h3>
	<img src="images/andromeda.png" style="border-radius:25px;width:100%;" >
	<br /><br />
	
	</div>
	
 <div class="col-sm-6">
      <h3>My Other Interests</h3>
	  <p>I have many interests and here are a few.</p>
      <ul>
		<li>Watching movies and writing reviews</li>
		<li>Star Wars!</li>
		<li>Software programming & computers</li>
	    <li>Computer Animations</li>
		<li>Cats, dogs and fish!</li>
		<li>Art - mostly European 1700s & Ancient Egyptian</li>
        <li>Road trips</li>
        <li>Swimming</li>
      </ul>
    </div>
	</div>
	  
	  <div class="row">

	 <div class="col-sm-6">
      <h3>To Thine Own Self Be True</h3>
      <ul>
		<li>"This above all- to thine own self be true,<br /> And it must follow, as the night the day,<br /> Thou canst not then be false to any man."
		</li>
      </ul>	  
    </div>	
    <div class="col-sm-6">
		<h3>Quote by Morpheus</h3>
			<ul>
	       <li>"This is your last chance. After this, there is no turning back. You take the blue pill -- the story ends, you wake up in your bed and believe whatever you want to believe. You take the red pill -- you stay in Wonderland and I show you how deep the rabbit hole goes."  Morpheus
		   </li>
		   </ul>
	</div>
	<div class="row">
	<div class="col-sm-6">
	<br /><br />
	  <blockquote class="twitter-video" data-lang="en"><p lang="und" dir="ltr"><a href="https://t.co/4FTpWsVmby">pic.twitter.com/4FTpWsVmby</a></p>&mdash; my dream (@mydream4567) <a href="https://twitter.com/mydream4567/status/732883574584692736">May 18, 2016</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
<div class="col-sm-6">
	<br /><br />
	<img src="images/ImLateImLate.png" style="border-radius:25px;width:100%;" >
	<br /><br />
	</div>	
  </div> <br /><br />
   <div class="alert alert-info text-center" role="alert" "col-sm-12">
Maybe, I watch too many movies.  I think I will take a one month vacation from movies starting Jan 4, 2016.  **Update.  Yes, I took a month off from watching movies.
  </div>
</div>
</body>
</html>
