<!DOCTYPE html>
<html>
<head>

  <title>Becky's About Me Page! </title>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
   
    <h1>About Me</h1>
    <p>I have been building websites since before XHTML existed.</p>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
  My interests
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3>Current Interests</h3>
      <ul>
		<li>Python</li>
		<li>Django</li>
        <li>JavaScript</li>
		<li>Node.js</li>
        <li>PHP</li>
        <li>HTML5</li>
        <li>CSS</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3>Hobbies</h3>
      <ul>
         <li>Building Customized Web Sites</li>
		 <li>Building Customized Software</li>
		 <li>Watching Movies</li>
		 <li>Reading</li>
		 <li>Astronomy</li>
		 <li>Violin<li>
		 <li>Travel and foreign languages</li>
		 <li>And more ... </li>
      </ul>
    </div>
	
 <div class="col-md-6">
      <h3>Recent Movies I've Seen These Past Couple of Months(October - November 2015).  5 Star is best.</h3>
      <ul>
        <li>Mockingjay - Dunno, fell asleep.</li>
		<li>The Secret in Their Eyes - 4*</li>
        <li>Spectre - 4*</li>
        <li>The Martian - 5*</li>
        <li>The Peanuts Movie - 4*</li>
		<li>Bridge of Spies - 4*</li>
		<li>Steve Jobs - 4*</li>
		<li>Sicario - 4*</li>
		<li>Crimson Peak - 3*</li>
		<li>The Last Witch - 2*</li>
      </ul>
    </div>
    <div class="col-md-6">
	<br /><br />
	<img src="images/ImLateImLate.png" style="border-radius:25px;">
	<br /><br />
      <h3>Another list</h3>
      <ul>
        <li>I'm late,</li>
		 <li>I'm late,</li>
		  <li>For a very important date!</li>
		   <li>No time to say hello, good-bye.</li>
		    <li>I'm late, late, late.</li>
			 <li>Who are you????</li>
      </ul>
    </div>	
	
  </div> <br /><br />
   <div class="alert alert-info text-center" role="alert">
Too many things to do and such little time ...   
  </div>
</div>
<br /><br />

</body>
</html>
