<!DOCTYPE html>
<html>
<head>

  <title>Becky's - About Me - Page! </title>
  <% include ../partials/header.ejs %>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-33109920-1', 'auto');
  ga('send', 'pageview');

</script>
</head>

<body>

 <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
   
    <h1>About Me</h1>
  </div>
</div>
<div class="container">

  <div class="row">
    <div class="col-md-6">
      <h3>Current Interests</h3>
      <ul>
	    <li>JavaScript</li>
		<li>Node.js</li>
        <li>PHP</li>
		<li>Python</li>
		<li>Django</li>
        <li>HTML</li>
        <li>CSS</li>
		<li>A little bit of C!</li>

      </ul>
    </div>
    <div class="col-md-6">
      <h3>The Animal Rescue Site</h3><br />
      
		 <a href="http://theanimalrescuesite.greatergood.com/clickToGive/ars/home?link=ARS_linktous_300"><img alt="The Animal Rescue Site" src="http://cdn.theanimalrescuesite.com/charityusa_vitalstream_com/ctg/p3/images/content/300x250-ars.jpg?ccv=1452879712481"/></a><br /><br />
      
    </div>
	</div>
	  <div class="row">
	 <div class="col-md-6">
		<br /><br />
	<img src="images/andromeda.png" style="border-radius:25px;width:100%;" >
	<br /><br />
	<p>The Andromeda Galaxy</p>
	</div>
	
 <div class="col-md-6">
      <h3>Recent Movies I've Seen.  5 Star is best.  See my "Movie Reviews" page for more detailed reviews.</h3>
      <ul>
		<li>In the Heart of the Sea - 5*</li>
		<li>Point Break - 5*</li>
		<li>Star Wars: The Force Awakens - 5*</li>
	    <li>Everest - 5* but is a sort of a copy of Vertical Limit - 5*</li>
        <li>Mockingjay - Dunno, fell asleep.</li>
		<li>Creed - I fell asleep!</li>
		<li>The Secret in Their Eyes - 4*</li>
        <li>Spectre - 3*</li>
        <li>The Martian - 5*</li>
        <li>The Peanuts Movie - 4*</li>
		<li>Bridge of Spies - 3*</li>
		<li>Steve Jobs - 4*</li>
		<li>Sicario - 4*</li>
		<li>Crimson Peak - 3*</li>
		<li>The Last Witch Hunter - 2*</li>
		<li>No Escape - 4*</li>
		<li>The Gift - 2*</li>
		<li>Mission Impossible V - 4*</li>
      </ul>
    </div>
	</div>
	  <div class="row">

	 <div class="col-md-6">
      <h3>Quotes</h3>
      <ul>
        <li>"This is your last chance. After this, there is no turning back. You take the blue pill -- the story ends, you wake up in your bed and believe whatever you want to believe. You take the red pill -- you stay in Wonderland and I show you how deep the rabbit hole goes."  Morpheus</li>
<li>&nbsp;</li>
<li>"This above all- to thine own self be true,<br /> And it must follow, as the night the day,<br /> Thou canst not then be false to any man."</li>
      </ul>

    </div>	
    <div class="col-md-6">
	<br /><br />
	<img src="images/ImLateImLate.png" style="border-radius:25px;width:100%;" >
	<br /><br />
	</div>	
  </div> <br /><br />
   <div class="alert alert-info text-center" role="alert">
Maybe, I watch too many movies.  I think I will take a one month vacation from movies starting Jan 4, 2016.  **Update.  Yes, I took a month off from watching movies.  This was a major test of will power!
  </div>
</div>
</body>
</html>
