<!DOCTYPE html>
<html>
<head>

  <title>Becky's About Me Page! </title>
  <% include ../partials/header.ejs %>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-33109920-1', 'auto');
  ga('send', 'pageview');

</script>
</head>

<body>

 <% include ../partials/navtwo.ejs %>

<div class="jumbotron text-center">
  <div class="container">
   
    <h1>About Me</h1>
    <p>Some of my interests.</p>
  </div>
</div>
<div class="container">

  <div class="row">
    <div class="col-md-6">
      <h3>Current Interests</h3>
      <ul>
		<li>Python</li>
		<li>Django</li>
        <li>JavaScript</li>
		<li>Node.js</li>
        <li>PHP</li>
        <li>HTML5</li>
        <li>CSS</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3>Hobbies</h3>
      <ul>
         <li>Building Customized Web Sites</li>
		 <li>Building Customized Software</li>
		 <li>Watching Movies</li>
		 <li>Reading</li>
		 <li>Astronomy</li>
		 <li>Violin</li>
		 <li>Travel and foreign languages</li>
		 <li>And more ... </li>
      </ul>
    </div>
	</div>
	  <div class="row">
	 <div class="col-md-6">
		<br /><br />
	<img src="images/andromeda.png" style="border-radius:25px;width:100%;" >
	<br /><br />
	</div>
	
 <div class="col-md-6">
      <h3>Recent Movies I've Seen These Past Few Months.  5 Star is best.</h3>
      <ul>
		<li>Point Break - Pending!!!</li>
		<li>Star Wars: The Force Awakens - 5*</li>
	    <li>Everest - 5* but is a sort of a copy of Vertical Limit - 5*</li>
        <li>Mockingjay - Dunno, fell asleep.</li>
		<li>The Secret in Their Eyes - 4*</li>
        <li>Spectre - 4*</li>
        <li>The Martian - 5*</li>
        <li>The Peanuts Movie - 4*</li>
		<li>Bridge of Spies - 4*</li>
		<li>Steve Jobs - 4*</li>
		<li>Sicario - 4*</li>
		<li>Crimson Peak - 3*</li>
		<li>The Last Witch Hunter - 2*</li>
		<li>No Escape - 4*</li>
		<li>The Gift - 2*</li>
		<li>Mission Impossible V - 4*</li>
      </ul>
    </div>
	</div>
	  <div class="row">

	 <div class="col-md-6">
      <h3>Another list</h3>
      <ul>
        <li>I'm late,</li>
		 <li>I'm late,</li>
		  <li>For a very important date!</li>
		   <li>No time to say hello, good-bye.</li>
		    <li>I'm late, late, late.</li>
			 <li>Who are you????</li>
      </ul>
    </div>	
    <div class="col-md-6">
	<br /><br />
	<img src="images/ImLateImLate.png" style="border-radius:25px;width:100%;" >
	<br /><br />
	</div>	
  </div> <br /><br />
   <div class="alert alert-info text-center" role="alert">
Too many things to do and such little time ...   
  </div>
</div>
<br /><br />

</body>
</html>
