<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Star Background - three.js webgl - particles</title>
		
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		
		<style>
			body {
				margin: 0px;
				overflow: hidden;
			}
			
		</style>
	</head>
	<body>  
	
		<script src="myscripts/threejs/three.js"></script>
		<script src="myscripts/threejs/Detector.js"></script>

		
		<script>
			
			var init = function () {
			
				var scene = new THREE.Scene();
				var camera = new THREE.PerspectiveCamera( 75, window.innerWidth/window.innerHeight, 1, 7000 );
				camera.position.y = 200;
			
				scene.add( new THREE.AmbientLight( 0xffffff ) );

				var renderer = new THREE.WebGLRenderer();
				renderer.setSize( window.innerWidth, window.innerHeight );
				document.body.appendChild( renderer.domElement );
				

				var map = new THREE.TextureLoader().load( 'images/sunsurface.jpg' );
				map.wrapS = map.wrapT = THREE.RepeatWrapping;
				map.anisotropy = 16;
				var material = new THREE.MeshLambertMaterial( { map: map, side: THREE.DoubleSide } );

				sun = new THREE.Mesh( new THREE.SphereGeometry( 200, 500, 100 ), material );
				sun.position.set( 0, 0, 0 );
				scene.add( sun );
			
			
				var map2 = new THREE.TextureLoader().load( 'images/saturnsurface.jpg' );
				map2.wrapS = map.wrapT = THREE.RepeatWrapping;
				map2.anisotropy = 16;
				var material2 = new THREE.MeshLambertMaterial( { map: map2, side: THREE.DoubleSide } );

				saturn = new THREE.Mesh( new THREE.SphereGeometry( 50, 300, 150 ), material2 );
				saturn.position.set( -900, 0, 0 );
				scene.add( saturn );
			
			};
			

			var render = function () {
			
				//timer used for setting speed of camera rotation around origin
				var timer = Date.now() * 0.0005
				
				//camera path around origin
				camera.position.x = Math.cos( timer ) * 1500;
				camera.position.z = Math.sin( timer ) * 1500;
				camera.lookAt( scene.position );

				//rotation on sphere's y-axis
				//sun.rotation.x += 0.01;
				sun.rotation.y += 0.01;
				
				//rotation on sphere's y-axis
				saturn.rotation.y += 0.005;

				requestAnimationFrame( render );
				renderer.render(scene, camera);
				
			};

			init();
			render();	
			
		</script>
	</body>
</html>