<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Star Background - three.js webgl - particles</title>
		
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		
		<style>
			body {
				margin: 0px;
				overflow: hidden;
			}
			
		</style>
	</head>
	<body>  
	
		<script src="myscripts/threejs/three.js"></script>
		<script src="myscripts/threejs/Detector.js"></script>

		
		<script>
			
			var scene = new THREE.Scene();
			var camera = new THREE.PerspectiveCamera( 75, window.innerWidth/window.innerHeight, 0.1, 1000 );

			var renderer = new THREE.WebGLRenderer();
			renderer.setSize( window.innerWidth, window.innerHeight );
			document.body.appendChild( renderer.domElement );

			var geometry = new THREE.SphereGeometry( 5, 30, 10 );
			var material = new THREE.MeshBasicMaterial( { color: 0xff0066 } );
			var cube = new THREE.Mesh( geometry, material );
			cube.position.set(0, 0, 0);
			scene.add( cube );
			
			
			var geometry = new THREE.SphereGeometry(5, 30, 15 );
			var material2 = new THREE.MeshBasicMaterial( { color: 0xffff66 } );
			var sphere = new THREE.Mesh( geometry, material2 );
			sphere.position.set(-6, 0, 0);
			scene.add( sphere );
			
			
			camera.position.z = 25;

			var render = function () {
				requestAnimationFrame( render );

				cube.rotation.x += 0.01;
				cube.rotation.y += 0.01;

				renderer.render(scene, camera);
			};

			render();	
		</script>
	</body>
</html>