<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Star Background - three.js webgl - particles</title>
		
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		
		<style>
			body {
				margin: 0px;
				overflow: hidden;
				background-image:url(images/anim8bg.jpeg);
				background-repeat:repeat;
			}
			
		</style>
	</head>
	<body>  
	
		<script src="myscripts/threejs/three.js"></script>
		<script src="myscripts/threejs/Detector.js"></script>

		
		<script>
			    //work in progress ...  working on saturn's ring, adding the starry background ... redoing the coding
			
				var scene = new THREE.Scene();
				var camera = new THREE.PerspectiveCamera( 40, window.innerWidth/window.innerHeight, 1, 7000 );
				camera.position.y = 300;
			
				scene.add( new THREE.AmbientLight( 0xffffff ) );
				
				//light from the sun
				var directionalLight = new THREE.DirectionalLight( 0xffffb3, 0.8 );
				directionalLight.position.set( 1, 0, 0 );
				scene.add( directionalLight );

				var renderer = new THREE.WebGLRenderer();
				renderer.setSize( window.innerWidth, window.innerHeight );
				document.body.appendChild( renderer.domElement );
				

				var map = new THREE.TextureLoader().load( 'images/sunsurface.jpg' );
				map.wrapS = map.wrapT = THREE.RepeatWrapping;
				map.anisotropy = 16;
				var material = new THREE.MeshLambertMaterial( { map: map, side: THREE.DoubleSide } );

				sun = new THREE.Mesh( new THREE.SphereGeometry( 200, 500, 100 ), material );
				sun.position.set( 0, 0, 0 );
				scene.add( sun );
			
			
				var map2 = new THREE.TextureLoader().load( 'images/saturnsurface.jpg' );
				map2.wrapS = map.wrapT = THREE.RepeatWrapping;
				map2.anisotropy = 16;
				var material2 = new THREE.MeshLambertMaterial( { map: map2, side: THREE.DoubleSide } );

				saturn = new THREE.Mesh( new THREE.SphereGeometry( 50, 300, 150 ), material2 );
				saturn.position.set( -900, 0, 0 );
				scene.add( saturn );
			
			
				saturnring = new THREE.Mesh( new THREE.RingGeometry( 135, 150, 30, -5, 5, Math.PI * 2 ), material2 );
				saturnring.position.set( -900, 0, 0 );
				saturnring.rotateX( Math.PI / 2 );
				scene.add( saturnring );
				
				saturnring2 = new THREE.Mesh( new THREE.RingGeometry( 100, 130, 30, -5, 5, Math.PI * 2 ), material2 );
				saturnring2.position.set( -900, 0, 0 );
				saturnring2.rotateX( Math.PI / 2 );
				scene.add( saturnring2 );
				
				saturnring3 = new THREE.Mesh( new THREE.RingGeometry( 80, 90, 30, -5, 5, Math.PI * 2 ), material2 );
				saturnring3.position.set( -900, 0, 0 );
				saturnring3.rotateX( Math.PI / 2 );
				scene.add( saturnring3 );
				
				saturnring4 = new THREE.Mesh( new THREE.RingGeometry( 93, 97, 30, -5, 5, Math.PI * 2 ), material2 );
				saturnring4.position.set( -900, 0, 0 );
				saturnring4.rotateX( Math.PI / 2 );
				scene.add( saturnring4 );
			

			var render = function () {
			
				//timer used for setting speed of camera rotation around origin
				var timer = Date.now() * 0.0005
				
				//camera path around origin
				camera.position.x = Math.cos( timer ) * 1300;
				camera.position.z = Math.sin( timer ) * 1300;
				camera.lookAt( scene.position );

				//rotation on sphere's y-axis
				//sun.rotation.x += 0.01;
				sun.rotation.y += 0.01;
				
				//rotation on sphere's y-axis
				saturn.rotation.y += 0.005;
				
				saturnring.rotation.z += 0.05;
				saturnring2.rotation.z += 0.03;
				saturnring3.rotation.z += 0.05;
				saturnring4.rotation.z += 0.04;				
				
				requestAnimationFrame( render );
				renderer.render(scene, camera);
				
			};

			
			render();	
			
		</script>
	</body>
</html>