<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Star Background - three.js webgl - particles</title>
		
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		
		<style>
			body {
				background-color: #ffffff;
				margin: 0px;
				overflow: hidden;
			}
			
		</style>
	</head>
	<body>  
	
		<script src="myscripts/threejs/three.js"></script>
		<script src="myscripts/threejs/Detector.js"></script>

		
		<script>
			if ( ! Detector.webgl ) Detector.addGetWebGLMessage();
			
			
			var container;
			var camera, scene, renderer, geometry, materials, color;
			
			
			scene = new THREE.Scene();		

			container = document.createElement( 'div' );
			document.body.appendChild( container );			
				
			renderer = new THREE.WebGLRenderer();
			//renderer.setPixelRatio( window.devicePixelRatio );
			renderer.setSize( window.innerWidth, window.innerHeight );
			//container.appendChild( renderer.domElement );

				
				camera = new THREE.PerspectiveCamera( 45, window.innerWidth / window.innerHeight, -1, 500 );
						
				
				var axis = new THREE.AxisHelper(10);
				scene.add(axis);
				
				
				var cubeGeometry = new THREE.BoxGeometry(5,5,5);
				var cubeMaterial = new THREE.MeshBasicMaterial( { color:0xdddddd, wireframe:true });
				var cube = new THREE.Mesh(cubeGeometry, cubeMaterial);
				
				cube.position.x = 0;
				cube.position.y = 0;
				cube.position.z = 0;
				
				scene.add(cube);
				
				camera.position.x = 40;
				camera.position.z = 40;
				camera.position.y = 40;
				
			

		
				camera.lookAt( scene.position );
				renderer.render( scene, camera );
				
			
			
		</script>
	</body>
</html>