<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
  <title>Becky's Mad Hatter's Tea Party and Chat!</title>
  <% include ../partials/header.ejs %>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-33109920-1', 'auto');
  ga('send', 'pageview');

</script>

    <style>
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Tahoma, Arial;color:#000;background:#fff;}
      form { background: #000; padding: 10px; position: fixed; bottom: 0; width: 100%; }
      form input { border-radius:10px; padding: 10px; width: 50%; margin-left: 5%; margin-right:5%; color:#000;}
      form button { background:#8B1C18; border-radius:10px; padding: 10px; color:#fff; }
      #messages { list-style-type: none; margin: 0; padding: 0; color:#000000; }
      #messages li { padding: 5px 10px; color:#000000;}
      #messages li:nth-child(odd) { color:#000000;}
	  
	  
	  .pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}


/* Login Page */

.login.page {
  background-color: #000;
  height:100%;
}

.login.page .form {
  height: 100px;

  position: absolute;

  text-align: center;
  top: 50%;
  width: 100%;
}

.login.page .form .usernameInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
}

.login.page .title {
  font-size: 200%;
}

.login.page .usernameInput {
  font-size: 200%;
  letter-spacing: 3px;
}

.login.page .title, .login.page .usernameInput {
  color: #fff;
  font-weight: 100;
}
	
	
	
	
/* Chat page */

.chat.page {
  display: none;
}

/* Font */

.messages {
  font-size: 150%;
}

.inputMessage {
  font-size: 100%;
}

.log {
  color: gray;
  font-size: 70%;
  margin: 5px;
  text-align: center;
}


/* Messages */

.chatArea {
 
}

.messages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;
}

.message.typing .messageBody {
  color: gray;
}

.username {
  float: left;
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}


	
	
    </style>

</head>

<body>

 <% include ../partials/navtwo.ejs %>

<div class="jumbotron text-center">
  <div class="container">

      <div class="alert alert-info text-center" role="alert">
Mad Hatter's Chat Room Coming Soon! ...   
  </div></div></div>
  
  

    <ul class="pages">
    <li class="chat page">
      <div class="chatArea">
      <ul id="messages"></ul>
	  </div>
    <form action="">
      <input id="m" autocomplete="off" placeholder="Type message here."	/><button>Send</button>
    </form>
 </li>
 <li class="login page">
      <div class="form">
        <h3 class="title">What's your nickname?</h3>
        <input class="usernameInput" type="text" maxlength="14" />
      </div>
    </li>
  </ul>
 
 
 <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>


 <script>
  var socket = io();
  $('form').submit(function(){
    socket.emit('chat message', $('#m').val());
    $('#m').val('');
    return false;
  });
  
  socket.on('chat message', function(msg){
    $('#messages').append($('<li>').text(msg));
  });
  


</script>
</body>
</html>
