<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">

	
	<h1>My Movie Reviews.  I promise to be unfair, biased and have my own unpredictable, yet unchaotic, standards!<br /></h1>
	<h2>I'm learning to use Postgres with Node.js so this is a WIP!</h2><br /><br /><br />

	
</body>
</html>
