<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<script>
    var results = [];

	response.writeHead(200, {"Content-Type": "text/plain"});
	response.write("My Movie Reviews.  I promise to be unfair, biased and have my own unpredictable, yet unchaotic, standards!" + "\n\n\n");
	
	var i = 0;
	
	var query = db.query("SELECT * FROM moviereview ORDER BY name");
		
		query.on('row', function(row) {
			console.log(row.name);
			i++;
			response.write(String(row.name + row.rating + "   " + row.review) + "\n");
		});
		query.on('end', function () {
			response.write("\nHope you enjoyed!  Number of reviews =" + i + "!");
			
			response.end();
		});

</script>

<ul>

</ul>

</div>

</body>
</html>
