<!DOCTYPE html>
<html>
<head>


<% include ../partials/header.ejs %>
<link rel="stylesheet" type="text/css" href="stylesheets/star.css">
<script src="myscripts/sidefile.js"></script>



      <script type = "text/javascript" language = "javascript">
         $(document).ready(function() {
            $("p").css("background-color", "yellow");
         });
      </script>

<style>
	
div { 
	width: 100px;
	height: 250px;
	border: 2px solid blue;
	}
	
.highlight {
	border: 5px solid #ff0000;
	}
	
</style>

</head>
<body>
 <% include ../partials/nav.ejs %>
  
<div id="container" style="background-color:#fff;">
 
  
<div id = "mydiv">
	Doing "whatever" with this page because that's what I want to do.
</div>

<br /><br /><br />

<div id="header">
	<h1>Quiz</h1>
</div>
  
<br /><br /><br />
  
<div id="box1" class="dog" title="whodunit">
	<p>Hey how are you!?</p>
</div>
 
<br /><br /><br />

<div id="box2">
	<h1>This is stuff I'm putting in box 2!</h1>
</div>

<br /><br /><br />

<div id="box3">
	This is box three text and it means nothing.
</div>

<br /><br /><br />

<div id="box4" class="cat">
	I'm putting box four text in hear and it should mean something to someone!
</div>

<br /><br /><br />

<div id="box5">
	Here's text for box five just because.
</div>

<br /><br /><br />

<div id="box6">
	Stage
</div>

<br /><br /><br />

<input type = "button" id = "driver" value = "Load Data" />

<br /><br /><br />

<p>If you click on me, I will disappear.</p>
<p>Click me away!</p>
<p>Click me too!</p>

 
  
</div>

</body>
</html>
