<!DOCTYPE html>
<html>
<head>


<% include ../partials/header.ejs %>
<link rel="stylesheet" type="text/css" href="stylesheets/star.css">
<script src="myscripts/sidefile.js"></script>


<style>
	
div { 
	width: 100px;
	height: 250px;
	border: 2px solid blue;
	}
	
.highlight {
	border: 5px solid #ff0000;
	}
	
.error{
	display: none;
	margin-left: 10px;
}		

.error_show{
	color: red;
	margin-left: 10px;
}

	
</style>

</head>
<body>
 <% include ../partials/nav.ejs %>
  
<div id="container" style="background-color:#fff;">
 
  
<div id = "mydiv">
	Doing "whatever" with this page because that's what I want to do.
</div>

<br /><br /><br />

  
<br /><br /><br />
  
<div id="box1" class="dog" title="whodunit">
	<p>Hey how are you!?</p>
</div>
 
<br /><br /><br />

<div id="box2">
	<h1>This is stuff I'm putting in box 2!</h1>
</div>

<br /><br /><br />

<div id="box3">
	This is box three text and it means nothing.
</div>

<br /><br /><br />

<div id="box4" class="cat">
	I'm putting box four text in hear and it should mean something to someone!
</div>

<br /><br /><br />

<div id="box5">
</div>

<br /><br /><br />

<div id="box6">
<div id="stage">
	Stage
</div>
</div>

<br /><br /><br />
<div>
<input type = "button" id = "driver" value = "Load Data" />

<br /><br /><br />

<p>If you click on me, I will disappear.</p>
<p>Click me away!</p>
<p>Click me too!</p>

 </div>
<br /><br /><br />

<div class="row">
<div>
<h3>The contact form!</h3>

<form id="contact" method="post" action="">

	<div>
		<label for="contact_name">Name:</label>
		<input type="text" id="contact_name" name="name"></input>
		<span class="error">This field is required</span>
	</div>

	<div>
		<label for="contact_email">Email:</label>
		<input type="email" id="contact_email" name="email"></input>
		<span class="error">A valid email address is required</span>				
	</div>			
	
	<div>
		<label for="phone">Phone Number:</label>
		<input type="url" id="phone" name="phone"></input>
		<span class="error">A valid phone number is required</span>								
	</div>						
	
		<div>
		<label for="zip">Zip Code:</label>
		<input type="url" id="zip" name="zip"></input>
		<span class="error">A valid zip code is required</span>								
	</div>	
	
	<div>
		<label for="contact_message">Message:</label>
		<textarea id="contact_message" name="message"></textarea>
		<span class="error">This field is required</span>												
	</div>					
	
	<div id="contact_submit">				
		<button type="submit">Submit</button>
	
</form>
</div>
  <br /><br /><br />
</div>

</body>
</html>
