<!DOCTYPE html>
<html>
<head>
<title>Star Wars Quiz</title>
  <% include ../partials/header.ejs %>
  <link rel="stylesheet" type="text/css" href="stylesheets/star.css">
<script src="myscripts/star.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-33109920-1', 'auto');
  ga('send', 'pageview');

</script>

<script type = "text/javascript" src = "http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type = "text/javascript" src = "/myscripts/custom.js"></script>


</head>

<body>

  <% include ../partials/nav.ejs %>

  <div id = "mydiv">
         Click on this to see a dialogue box.
  </div>
  
  <div id="container" style="background-color:#fff;">

  <div id="header"><h1>Quiz</h1></div>
  
  
<div id="box1"></div>
 
 
 <div id="box2"></div>
  
</div>

</body>
</html>
