<!DOCTYPE html>
<html>
<head>
<title>Star Wars Quiz</title>
  <% include ../partials/header.ejs %>
  <link rel="stylesheet" type="text/css" href="stylesheets/star.css">
<script src="myscripts/star.js"></script>

</head>

<body>

  <% include ../partials/nav.ejs %>

  <div id="container">
  
  <div id="header"><h1>Quiz</h1></div>
  <div id="header">
  <img src="images/starwarstitle.png" style="border-radius:25px;width:75%;margin:auto;" >
  </div>
<div id="view"></div>
 
 
 <div id="backstory">Quiz photos taken during my visit to the EMP Museum in Seattle, Washington in February 2015.  You can check it out <a href="http://www.empmuseum.org/">here.</a> <br><br></div>
  
</div>
<br/><br/>


</body>
</html>
