<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <title>Plans For This Site</title>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-33109920-1', 'auto');
  ga('send', 'pageview');

</script>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    </a>
    <h1>Welcome.  This is my side project Heroku Node.js page!</h1>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">This site is a work in progress, but I couldn't wait to put it on the web and share - so here it is.  I plan to add more items. 
  </div>
  <hr>
  <div class="row">
  <div class="col-md-6">
      <h3>Future Plans For The Site</h3>
      <ul>
	  <li>Redesign the site's style: Pending</li>
        <li>Organize all CSS: Pending</li>
		<li>Minify Home Page CSS File: Done w/ Grunt</li>
		<li>Minify Star Wars Page JS file: Done w/ Grunt</li>
		 <li>Minify all CSS & js files: Pending</li>
		  <li>Minify images: Done w/ Grunt</li>
		   <li>Add database of movie reviews: Done, but now I'm improving the database!</li>
		   <li>Add search/sort to database: Pending.
		   <li>The ubiquitous 'contact form': Pending</li>
		   <li>Add online chat: It's up!</li>
		   <li>Animations using JavaScript</li>
		   <li>And more...</li>
      </ul>
	  
	  <h3>My HTML5 WebGL/Three.js Animations! See the links below.</h3>
	  <ul>
		<li>1.  <a href="https://secure-inlet-7727.herokuapp.com/animations">My first: a rotating cube.  Simple.</a></li>
		<li>2.  <a href="https://secure-inlet-7727.herokuapp.com/animations2">My second: 4 rotating cubes, differing colors.</a></li>
		<li>3.  <a href="https://secure-inlet-7727.herokuapp.com/animations3">Multicolored triangles rotating around an axis.</a></li>
		<li>4.  <a href="https://secure-inlet-7727.herokuapp.com/animations4">Rotating cube of two kitty cats.</a></li>
		<li>5.  <a href="https://secure-inlet-7727.herokuapp.com/animations5">Interactive spheres. Move mouse to rotate scene, click mouse to move forward.</a></li>
		<li>6.  <a href="https://secure-inlet-7727.herokuapp.com/animations6">Hello Kitty rotating box and torus.</a></li>
		<li>7.  <a href="https://secure-inlet-7727.herokuapp.com/animations7">Simulation: looking out the window of a space ship travelling at the speed of light!</a></li>
		<li>8.  <a href="https://secure-inlet-7727.herokuapp.com/animations8">Saturn orbiting the sun.  Inspiration comes from my love for astronomy.</a></li>
		<li>9.  <a href="https://secure-inlet-7727.herokuapp.com/og9">Practice with shaders.</a></li>
		<li>10.  <a href="https://secure-inlet-7727.herokuapp.com/og7">Sun with matrix inspired floor and wall.  Star covered skybox.</a></li>
	  </ul>
    </div>
  </div> <!-- row --><br /><br />
   <div class="alert alert-info text-center" role="alert">
    Disclaimer: "This site is a work in progress and with no plans to ever finish!"</div>
</div>

</body>
</html>
