<script>
    
	var express = require('express');
	var router = express.Router();
	var pg = require('pg');
	
    var db = new pg.Client(process.env.DB_URL);
	db.connect();
	

	var query = db.query("SELECT name, rating, year, genre, director, actors, review, video FROM moviereviewz LIMIT 1");
	
	res.write("<ul>");
		query.on('row', function(row) {
			//console.log(row.name);
			res.write("<li style='list-style-type:none;'>");
			res.write("<h3 style='color:#4d004d;'>" + String(row.name) + "&nbsp;&nbsp;=>&nbsp;&nbsp;" + String(row.rating) + "<span class='glyphicon glyphicon-star-empty'></span></h3><br />");
			res.write("Release Year: " + String(row.year) + "<br /><br />");
			res.write("Genre: " + String(row.genre) + "<br /><br />");			
			res.write("Directed By: " + String(row.director) + "<br /><br />");
			res.write("Cast: " + String(row.actors) + "<br /><br />");
			res.write("My Review: <br /><br />" + String(row.review) + "<br /><br />");
			res.write("<div class='embed-responsive embed-responsive-16by9'>")
			res.write("<iframe class='embed-responsive-item' src='https://www.youtube.com/embed/" + String(row.video) + "' allowfullscreen></iframe>");
			res.write("</div>")
			res.write("<br /><br /><br /><br />");			
			res.write("</li>");
			res.write("</ul>");
		});
		
		
    var i = 0;
	var query = db.query("SELECT name, rating, year, genre, director, actors, review, video FROM moviereviewz ORDER BY random() LIMIT 3");	
	res.write("<ul>");
		query.on('row', function(row) {
			//console.log(row.name);
			i++; //provide number for total below
			res.write("<li style='list-style-type:none;'>");		
			res.write("<h3 style='color:#4d004d;'>" + String(row.name) + "&nbsp;&nbsp;=>&nbsp;&nbsp;" + String(row.rating) + "<span class='glyphicon glyphicon-star-empty'></span></h3><br />");
			res.write("Release Year: " + String(row.year) + "<br /><br />");
			res.write("Genre: " + String(row.genre) + "<br /><br />");			
			res.write("Directed By: " + String(row.director) + "<br /><br />");
			res.write("Cast: " + String(row.actors) + "<br /><br />");
			res.write("My Review: <br /><br />" + String(row.review) + "<br /><br />");
			res.write("<div class='embed-responsive embed-responsive-16by9'>")
			res.write("<iframe class='embed-responsive-item' src='https://www.youtube.com/embed/" + String(row.video) + "' allowfullscreen></iframe>");
			res.write("</div>")
			res.write("<br /><br /><br /><br />");			
			res.write("</li>");
		});		
		query.on('end', function () {
			res.write("</ul>");
			res.write("Number of reviews = " + i + "!<br />");
			res.write("Number of future pages = " + i/10 + "!<br /><br />");
			res.write("I hope you enjoyed the reviews. I update frequently, though not consistently. Sometimes there is nothing to see at the movies. Sometimes, I don't have the time.<br /><br /><br /></div>");			
			res.write("<br /><br /><br /></div>");
		});

</script>