<!DOCTYPE HTML>
<html>
  <head>
    <title>WebGL/Three.js Light Tutorial</title>
    <style>
      body {
        margin: 0px;
        background-color: #fff;
        overflow: hidden;
      }
    </style>
  </head>
  <body>
	
		<script src="threejs/three.js"></script>
	<script src="threejs/OBJMTLLoader.js"></script>
	<script src="threejs/MTLLoader.js"></script>
	<script src="threejs/OrbitControls.js"></script>
    <script src="threejs/three-scene-tut.js"></script>
  </body>
</html>