<!DOCTYPE html>
<html>
<head>

 <meta charset="UTF-8">
<% include ../partials/header.ejs %>
<link rel="stylesheet" type="text/css" href="stylesheets/star.css">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

<style>
	
body {
	background-color: #fff;
	margin: 0px;
	padding: 0px;
}

div {
	background-color: #fff;
	padding: 0px;
	margin:0px;
}
	
.error{
	display: none;
	margin-left: 10px;
}		

.error_show{
	color: red;
	margin-left: 10px;
}

	
</style>

</head>
<body>
 <% include ../partials/nav.ejs %>
  
</body>
</html>
