<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <title>Recent Movies </title>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    </a>
    <h1>Welcome - My First Node.js Page!</h1>
    <p>I think that I shall never see<br />
	a  poem as lovely as a tree.</p>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    Welcome to my parlour.  I invite you to take a look.  There is not much to see here at the moment, but I plan to add more items. I will be adding a database and most likely it will be PostgreSQl as MongoDB costs a somewhat 'high' amount of moolah which I'm not able to pay right now.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3>Recent Movies I've Seen These Past Couple of Months(October - November 2015).</h3>
      <ul>
        <li>Mockingjay</li>
		<li>The Secret in Their Eyes</li>
        <li>Spectre</li>
        <li>The Martian</li>
        <li>The Peanuts Movie</li>
		<li>Bridge of Spies</li>
		<li>Steve Jobs</li>
		<li>Sicario</li>
		<li>Crimson Peak</li>
		<li>The Last Witch</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3>Another list</h3>
      <ul>
        <li>I'm late,</li>
		 <li>I'm late,</li>
		  <li>For a very important date!</li>
		   <li>I'm late, I'm late, I'm late, I'm late...</li>
		    <li>I'm late, I'm late, I'm late.</li>
			 <li>Who are you???? Change?</li>
      </ul>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    Another paragraph!  Does this thing really work?  I certainly hope it does.  
  </div>
</div>


</body>
</html>
