<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <title>Recent Movies </title>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    </a>
    <h1>Welcome.  This is my first Heroku Node.js page!</h1>
    <p>This used to be the index page,<br />
	but I moved it!</p>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    Welcome to my parlour.  I invite you to take a look.  This is my first Heroku Node.js site.  This site is a work in progress, but I couldn't wait to put it on the web and share - so here it is.  There is not much to see at the moment. I plan to add more items. I will be adding a database of my movie reviews.  Most likely it will be PostgreSQl as MongoDB costs a somewhat 'high' amount of moolah which I'm not able to pay right now. 
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3>I am using the following dependencies for this site:</h3>
      <ul>
		<li>Express - Application framework that provides features for web and mobile applications.</li>
        <li>Helmut - Attempting to avoid  XSS vulnerabilities, unintended tracking, malicious frames, and more.</li>
		<li>Serve-favicon - No site is complete without that little image.  Also known as a shortcut icon, Web site icon, tab icon or bookmark icon.</li>
        <li>pg (Postgres) - Database</li>
        <li>Ejs - EJS combines data and a template to produce HTML. I may change this.</li>
        <li>and others...</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3>Future Plans For The Site</h3>
      <ul>
        <li>Organize all the css</li>
		 <li>Minify files to min.css and min.js</li>
		  <li>Minify images</li>
		   <li>Add database of movie reviews</li>
		   <li>The ubiquitous 'contact form'</li>
		   <li>Maybe an online chat box</li>
		   <li>And more...</li>
      </ul>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    Becky's Hobby Page  
  </div>
</div>


</body>
</html>
